/**
 * Fitfab - Less Css
 *  
 * @package fitfab
 * @subpackage fitfab.inc
 * @since fitfab 1.0.0
 */
@skinColor:#8ecc3b; //Change here your theme Color
@fontFamily:'Roboto', sans-serif; //Change here your theme Font family
@secondaryColor: #1e73be;

.transition_effect{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.tagcloud a{
    background-color: @skinColor;
}
//===============================================
//====================TEXT COLOR==================
.homepage-1 .Gym-Subline span > span, .rev-btn:hover .join-btn,.button-btn:hover, .homepage-1 #owl-slider2 .item h3, .list-global li i, .homepage-2 .slider-right span strong, .homepage-2 .slider-right .button-btn:hover,.homepage-2 .slider-navigation ul li.active span, 
.homepage-2 .slider-navigation ul li.active strong, .homepage-2 .slider-item-caption .link, .homepage-2 .success-home-two h2, .green-dark, .homepage-3 .slider-right span strong, .homepage-3 .slider-navigation ul li.active span, 
.homepage-3 .slider-navigation ul li.active strong, .homepage-3 .slider-item-caption .link,.button-btn.small-btn.green-bg:hover, .homepage-3 .success-home-two h2, 
.header-four .calling-contact a, .homepage-4 .success-home-two h2, .breadcrumb > .active, .trainer-detail .trainer-name strong, .blog-program .classes-content span i,
.blog-comment span,.archive-list .catgory-list li span, .comment-info > span span, .comment-info h3 small, .short-code .panel-body ul li i,
.slider-content-blog span,.check-style li i, .short-code .description-review .nav-tabs > li.active a, .faq-qs-sec .ques, .faq-qs-sec .ans,
.num-cls-grn, #info .text-mail, .email-contact a, .free-join-inner  span,.cart-info span i, .cart-info a i,.shopping-cart .total-cart i,.homepage-3 .bg-wrp .bottom-link .button-btn:hover, .homepage-1 .news-content h3 a:hover,.homepage-1 .event-info h3 a:hover, .homepage-1 .product-content h3 a:hover,.footer-one .class-list li a:hover,.footer-one .media-wrap li a i:hover,.footer-one .theme-design:hover,.footer-one .calling-contact a:hover, .event-info a.link:hover,.header-two .calling-contact a:hover, .header-two .media-wrap li a i:hover,.homepage-2 .classes-listing-wrap .link:hover,.homepage-2 .classes-content h3 a:hover,.homepage-2 .view-all:hover,.footer-two .class-list li a:hover,.footer-two .theme-design:hover,.footer-two .calling-contact a:hover,.footer-two .media-wrap li a:hover,.contact-ifo a:hover, .homepage-3 .news-content h3 a:hover, .homepage-3 .news-home-3 .event-info h3 a:hover, .homepage-3 #footer .home-2-footer .theme-design:hover,.satisfaction-wrap h3 a:hover, .homepage-4 .classes-content h3 a:hover,.latest-news-home_two  view-all:hover,.homepage-4 .news-content h3 a:hover,.homepage-4 .event-info h3 a:hover,.homepage-4 .product-content h3 a:hover,.media-wrap1 li a:hover, .catgory-list li a:hover, .trainer-detail .trainer-contact:hover  a, .trainer-detail .trainer-contact:hover .phone-btn, .blog-program .classes-content h2 a:hover,.homepage-2 .classes-content span span a:hover,.blog-program .link:hover,.recent-post-blog h3 a:hover,.category-wrap h3 a:hover, .event-info-event h3 a:hover, .address-event h3 a:hover, .event-list .event-info-event a.read-more:hover,.shop-details .product-content h3 a:hover,.homepage-3 .home-3-pacakage .timing-listing h3 a:hover, .header-four .cart:hover span,.homepage-4 .view-all:hover, .shop-list .product-category-wrap .product-category li:hover {
    color:@skinColor;
    .transition_effect;
}
.owl-controls .owl-buttons div.owl-next:after, .owl-controls .owl-buttons div.owl-prev:after{
    color:lighten(@skinColor, 10%);
}
.slider-cap-info span, .classes-populer .home-three-head > span > span{
    color:darken(@skinColor, 10%);
}
.small-btn:hover,.blog-program .owl-controls .owl-buttons div.owl-next::after, .blog-program .owl-controls .owl-buttons div.owl-prev::after, .shop-details .cart-info a i {
    color:#fff !important;
}
.homepage-4 .package-price .button-btn:hover, .shop-details .cart-info a:hover i, .homepage-3 .package-list-3 li .pack-price a.button-btn:hover,.homepage-3 .slider-caption a.button-btn:hover,.homepage-3 .menu-wrap a.button-btn:hover, .homepage-2.about_us .looking-fit a.green-bg:hover,.homepage-1 .header-one .navbar-nav li.cart:hover span, .header-two .navbar-nav li.cart:hover span, .header-three .calling-contact a:hover,.homepage-3 .header-three .search-button:hover i {
    color: @skinColor !important;
}
//============================================================
//==========================BACKGROUND COLOR==================
.header-two .cart, .header-one .cart,.button-btn,.homepage-1 .tabing-wrap .nav-tabs > li.active > a, .homepage-1 .tabing-wrap .nav-tabs > li.active > a:hover,.homepage-1 .tabing-wrap .nav-tabs > li.active > a:focus,
.homepage-1 #owl-slider1 .owl-pagination .owl-page.active,.shop-details .cool-products strong.sale, .sale, .homepage-2 .owl-pagination .owl-page.active, 
.homepage-2 .trainer-wrap-slide .schedule-info, .homepage-2 #owl-sucess-story .owl-pagination .owl-page.active, .homepage-3 .classes-populer,.homepage-3  .schedule-section   .owl-pagination .owl-page.active, 
.homepage-3 #owl-sucess-story .owl-pagination .owl-page.active, .header-four .cart, .homepage-4 #owl-sucess-story .owl-pagination .owl-page.active, 
.homepage-4 .tp-caption.Concept-Notice .link, .homepage-4  .Concept-Notice .link, .blog-program .owl-controls .owl-buttons  .owl-prev, .blog-program .owl-controls .owl-buttons   .owl-next, 
.video,.up-arrow, .short-code .description-review .nav-tabs > li a, .short-code .pagination.green li.active a span, .short-code .pagination.green li.active a,.short-code .pagination.green li a:hover, 
.short-code .pagination.green li a:hover span,.filter-text {
    background:@skinColor;
}
.homepage-2 #owl-trainers .owl-pagination .owl-page, .owl-controls .owl-buttons div{
    background:darken(@skinColor, 10%);
}
.rev-btn,  .small-btn:hover, .pack-price .button-btn, .panel-heading, .ui-state-default, .green-bg  {
    background-color:@skinColor !important;
}
.rev-btn:hover, .pack-price .button-btn:hover, .btn-default.dropdown-toggle:hover, .btn-default.dropdown-toggle, .homepage-4 .package-price .button-btn:hover,.panel-heading.yellow-brder, .homepage-2.about_us .looking-fit a.green-bg:hover,.homepage-1 .header-one .navbar-nav li.cart:hover, .header-two .navbar-nav li.cart:hover, .homepage-2 #owl-slider-hero .slider-caption .button-btn:hover, .homepage-3 #owl-slider-hero .slider-caption .button-btn:hover, .header-four .cart:hover{
    background-color:transparent !important;
}
//============================================================
body p {
    font-family:@fontFamily !important;
}
//==========================BORDER COLOR==================
.rev-btn, .homepage-1 .Gym-Button, .rev-btn:hover, .button-btn, .pack-price .button-btn, .homepage-4 .tp-caption.Concept-Notice .link:hover, 
.homepage-4  .Concept-Notice .link:hover, .homepage-4 .package-price .button-btn:hover, .homepage-3 .bg-wrp .bottom-link .button-btn:hover, .homepage-2.about_us .looking-fit a.green-bg:hover, .homepage-1 .header-one .navbar-nav li.cart:hover, .header-two .navbar-nav li.cart:hover, .header-four .cart:hover{
    border-color:@skinColor !important;
}
.bottom-link .button-btn,.small-btn{
    border-color:transparent !important;
}
*:hover{
    .transition_effect;
}
//============================================================
.nav > li > a:hover, .nav > li > a:focus, .nav > li.active > a,
.nav .current-menu-parent > a,
.nav .current-menu-item > a {
    color: @skinColor !important;
}
//==========================SVG COLOR==================
.svg g{  
    fill: @secondaryColor !important;
    .transition_effect;
}
//=====================Secondery Color Settings=======================
.homepage-1 .practice-list > span {
    background: @secondaryColor;
}
.plus-more{
    background: @secondaryColor;
}
.homepage-1 .event-calender{
    background: darken( @secondaryColor, 5%);
}
.homepage-3 .news-home-3 .classes-populer.about-fit {
    background: darken( @secondaryColor, -5%) !important;
}
.link{
    color: @secondaryColor;
}
.homepage-2 .classes-listing-wrap figure span{
    background: @secondaryColor;
}
.homepage-2 .schedule-section .schedule-info{
    background: @secondaryColor;
}
.homepage-2 .schedule-section .schedule-info{
    background: @secondaryColor;
}
.homepage-2 .owl-pagination .owl-page{
    background: @secondaryColor;
}
.homepage-3 .about-fit h2{
    color: @secondaryColor;
}
.bottom-link .button-btn {
    background: @secondaryColor;
    border-color: @secondaryColor; 
}
.homepage-3 .schedule-section .owl-pagination .owl-page{
    background: @secondaryColor;
}
.home-three-head.extra h2{
    color: @secondaryColor;
}
.small-btn{
    background: @secondaryColor !important;
    border-color: @secondaryColor !important;
}
.pack-price{
    background: @secondaryColor;
}
.contact-ifo a{
    color: @secondaryColor;
}
.package-list-3 li:nth-child(2n) .pack-price{
    background: @secondaryColor;
}
.homepage-4 .package-price > span{
    color: @secondaryColor;
}
button.sub-search-blog{
    background: @secondaryColor;
}
a{
    color: @secondaryColor;
}
.event-calender-event{
    background: @secondaryColor;
}
.main-event-content .event-info-event a.read-more{
    color: @secondaryColor;
}
.pagination li a.current{
    background: @secondaryColor;
}
.sub-menu li{
    background: darken( @secondaryColor, -10%) !important;
}
.header-three .join-info{
    background: @secondaryColor;
}
.header-three .join-info::before{
    border-color: #ffffff @secondaryColor @secondaryColor #ffffff; 
}


//================Primary Color Setting ======================
.homepage-2 .tabing-wrap .practice-list-main-container .nav-tabs > li.active > a, .homepage-2 .tabing-wrap .practice-list-main-container .nav-tabs > li.active > a:hover, .homepage-2 .tabing-wrap .practice-list-main-container .nav-tabs > li.active > a:focus {
    background: @skinColor;
}
.footer-one .boxing-inner span{
    color: @skinColor;
}
.zeus .tp-tab.selected .tp-tab-title, .zeus .tp-tab.selected .tp-tab-title span{
    color: @skinColor !important;
}
.homepage-2 .schedule-section .owl-pagination .owl-page.active{
    background: @skinColor;
}
.homepage-2 .trainer-wrap-slide.schedule-section .schedule-info{
    background: @skinColor;
}
.homepage-2 .upcome-event .schedule-info, .homepage-2 .event-list .link{
    color: @skinColor;
}
.homepage-2 #owl-sucess-story .owl-pagination .owl-page.active{
    background: @skinColor !important;
}
.populer-classes.ppclass .classes-populer{
    background: @skinColor;
}
.homepage-3 .package-list-3 .pack-price .button-btn{
    background: @skinColor !important;
    border-color: @skinColor !important;
}
.populer-classes.ppclass .owl-controls .owl-buttons div.owl-next::after, .populer-classes.ppclass .owl-controls .owl-buttons div.owl-prev::after{
    color: darken( @skinColor, -10%) ;
    border-color: @skinColor !important;
}
.homepage-2.homepage-3 .populer-classes .about-fit .green-bg{
    background: @skinColor !important;
    border-color: @skinColor !important;
}
.homepage-2.homepage-3 .populer-classes .about-fit .green-bg:hover{
    color: @skinColor !important;
}
.tp-caption a:hover, .tp-caption:hover > a{
    color: @skinColor !important;
}
.homepage-1.homepage-4 .package-price .green-bg{
    background: @skinColor !important;
    border-color: @skinColor !important;
}
.footer-one .copy-right a:hover, .footer-one .class-list li a:hover, .footer-one .calling-contact a:hover{
    color: @skinColor ;
}
.who_wrap .looking-fit .head-global .button-btn{
    background: @skinColor !important;
    border-color: @skinColor !important;
}
.who_wrap .looking-fit .head-global .button-btn:hover{
    color: @skinColor !important;
    border-color: @skinColor !important;
}
.widget_categories ul li:hover, .widget_categories ul li a:hover, .widget_categories ul li a:hover::before, .widget_archive li a:hover, .widget_archive li:hover, .widget_archive li a:hover::before, .widget_pages ul li:hover, .widget_pages ul li a:hover, .widget_pages ul li a:hover::before, .widget_meta ul li:hover, .widget_meta ul li a:hover, .widget_meta ul li a:hover::before, .widget_recent_comments ul li:hover, .widget_recent_comments ul li a:hover, .widget_recent_comments ul li a:hover::before, .widget_recent_comments ul li:hover a, .widget_recent_comments ul li:hover span, .widget_nav_menu ul li a:hover{
    color: @skinColor;
}
.main-event-content .event-info-event a.read-more:hover, .event-info-event h3 a:hover{
    color: @skinColor;
}
.comment-entry-box .submit-btn{
    background: @skinColor !important;
}
.comment-entry-box .submit-btn:hover{
    color: @skinColor !important;
    background: #fff !important;
}
.finding-map-wrap .email-contact a, .finding-map-wrap #info a.text-mail{
    color: @skinColor;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
    background: @skinColor;
    border-color: @skinColor;
}
.woocommerce .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover{
    color: @skinColor;
}
.woocommerce .shop-detail-info span.sale{
    background: @skinColor;
}
.button-btn:hover i.icon-basket-loaded{
    color: @skinColor;
}
.shopping-cart .coupen-btn:hover{
    background: @skinColor;
}
.billing-details h3 a:hover{
    color: @skinColor;
}
.billing-details .btn-group1 .submit-btn{
    background: @skinColor !important;
}
.billing-details .btn-group1 .submit-btn:hover{
    color: @skinColor;
}



.homepage-2 .owl-pagination .owl-page {
    background: darken( @secondaryColor, 10%);
}
.homepage-3 .schedule-section .owl-pagination .owl-page {
    background: darken( @secondaryColor, 10%);
}
.footer-two .boxing-inner span,
.footer-three .boxing-inner span,
.footer-four .boxing-inner span {
    color: @skinColor;
}