@charset 'UTF-8';

@import url(fonts.css);

#wp-admin-bar-wpaas .dashicons-godaddy-alt::before {
	top: 2px;
}

#wp-admin-bar-wpaas .dashicons-media-temple::before {
	top: -1px;
	font-size: 28px;
}

#wp-admin-bar-wpaas .dashicons-admin-generic::before {
	top: 2px;
}

#wp-admin-bar-wpaas .ab-sub-wrapper .dashicons {
	margin-top: 4px;
	font: 16px/1 'dashicons';

	 -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wp-admin-bar-wpaas-pro-connection-key,
.wp-admin-bar-wpaas-woocommerce-extensions {
	line-height: inherit !important;
	display: block;
	font-size: inherit !important;
}

#mwp_woocommerce_extensions_dialog form.extensions {
	max-height: 350px;
	overflow: scroll;
}

#mwp_woocommerce_extensions_dialog.ui-dialog-content .extensions {
	background: #F5F7F9;
	padding: 1em;
}

#mwp_woocommerce_extensions_dialog li.plugin {
	display: flex;
	align-items: baseline;
	margin-bottom: 1.5em;
}

#mwp_woocommerce_extensions_dialog li.plugin.installing {
	opacity: 0.5;
}

	#mwp_woocommerce_extensions_dialog li.plugin:last-child {
		margin-bottom: 0;
	}

	#mwp_woocommerce_extensions_dialog li.plugin .content {
		width: 100%;
	}

	#mwp_woocommerce_extensions_dialog li.plugin .install-error {
		color: #ff8d8d;
		margin-right: 15px;
	}

	#mwp_woocommerce_extensions_dialog li.plugin .install-success {
		color: #5ca15c;
		margin-right: 15px;
	}

	#mwp_woocommerce_extensions_dialog li.plugin:not(:last-child) .content {
		padding-bottom: 1em;
		border-bottom: 1px solid #d7d7d8;
	}

	#mwp_woocommerce_extensions_dialog li.plugin input[type="checkbox"],
	#mwp_woocommerce_extensions_dialog li.plugin img.loader {
		flex: none;
		margin-right: 15px;
	}

#mwp_woocommerce_extensions_dialog p.header-msg {
	margin-top: 0;
}

#mwp_woocommerce_extensions_dialog.ui-dialog-content .extensions .preloader {
	display: block;
	margin: 3em auto;
}

#mwp_woocommerce_extensions_dialog .auth-notice {
	margin: 2em 0;
}

	#mwp_woocommerce_extensions_dialog .auth-notice a {
		text-decoration: underline;
	}

	#mwp_woocommerce_extensions_dialog .auth-notice .action {
		margin-top: 1em;
	}

@media screen and ( max-width: 782px ) {

	#wpadminbar li#wp-admin-bar-wpaas {
		display: block;
	}

	#wp-admin-bar-wpaas .ab-icon.dashicons-media-temple {
		width: 72px;
	}

	#wp-admin-bar-wpaas .ab-icon.dashicons-admin-generic:before {
		top: 0;
		font-size: 33px;
	}

	#wp-admin-bar-wpaas .ab-icon.dashicons-media-temple::before {
		top: 0;
		font-size: 48px;
	}

	#wp-admin-bar-wpaas .ab-icon.dashicons-godaddy-alt::before {
		top: -1px;
		font-size: 30px;
	}

}
