<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<title>{{ keyword }}</title>
<style media="screen" rel="stylesheet" type="text/css">

/* Aardvark Reset Thingy http://aardvark.fecklessmind.com/ */
html, body, div, h1, h2, p, a, ul, li
 {border:0;margin:0;outline:0;padding:0;background:transparent;vertical-align:baseline;}

/* Basic styles */
body {
	background: url() repeat #000;
	color:#4F4F5F;
	font: Georgia, "Times New Roman", Times, serif;}
html>body {font-size:12px;}

h1,h2 {font-weight:700;}

h1 {margin:0 0 0.75em;font-size:2em;}
h2 {margin:0 0 1em;font-size:1.5em;}

p,ul {margin:0 0 1.5em;color:#383843;}

li ul {margin:0;}
ul {list-style:outside disc;}
li {margin:0 0 0 2em;}

a {text-decoration:none;color:#434351;font-weight:800;}
a:hover {text-decoration:none;color:#66667A;}

/* Table styles */

/* Form styles */

/* Useful classes */

.clr {clear:both;}
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
	display: inline-block;
}
.wrapper {width:960px; /*background:#FFF;*/ margin:0 auto;}

/* header classes */
#header { width:980px; height:250px; background: url() top left no-repeat;margin:18px auto 0 auto;color:#4F4F5F;}
#header h2 { font-size:24px; }
#header h1 {
	margin:0;
	padding:0;
	display: none;
}
#logo {
	padding:0;
	width: 340px;
	height:200px;
	margin: 20px 0 0 26px;
	float:left;
}

#hside {
	position:relative;
	padding: 10px 0;
	width: 568px;
	height:180px;
	margin: 20px 20px 0 0;
	float:left;
}

#navWrap {
	height:36px;
	width:960px;
	/*background:#9f0022;*/
	margin:5px auto;
}

#topNav {
	width:960px;
	/*background:#9f0022;*/
	margin:0 auto;
}


/* footer classes */
.basement {width:980px;background:#FFF;color:#000;text-align:center;font-size:0.8em; -moz-border-radius: 5px;
	border-radius: 5px;padding:9px 0;margin:15px auto;}
.basement a, .basement a:link, .basement a:visited {color:#000;text-decoration:underline;font-weight:normal;}
.basement p {color:#000;margin:0.3em 0;}

</style>

<style id="jbgallery-css" rel="stylesheet" type="text/css">/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;	
}
.sf-menu {
	line-height:	1.0;	
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			10em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul {
	left:			0;
	top:			2.9em; /* match top ul list item height */
	z-index:		99;
}

/*** SKIN ***/
.sf-menu {
	/*background:#d93034;*/
	float:			left;
	/*margin-bottom:	1em;
	margin-top:6px; 	*/
}
.sf-menu a {
	/*border-left:	1px solid #fff;
	border-top:		1px solid #CFDEFF;*/
	font-family:Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color: #FFF;
	padding: 		1em;
	text-decoration:none;
}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:			#FFF;
}
.sf-menu li {
	background:		#d93034;
	margin:  0 4px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.sf-menu li li {
	background:		#9f0022;
}
.sf-menu li:hover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	color:		#000;
	outline:		0;
	background:		#e8a8a7;
	/*background-image:url();*/
}

/*** arrows **/
/* apply hovers to modern browsers */

/* point right for anchors in subs */
/* apply hovers to modern browsers */

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
</style>

</head>
<body>
<div id="header">
<div id="logo">
<h1>ATLRetro</h1>
</div>
<div id="hside">
<h2>Your Guide to 20th Century Atlanta in the 21st Century</h2>
</div>
<div class="clr"></div>
</div>
<div id="navWrap">
<div class="menu-topnav-container" id="topNav"><ul class="sf-menu sf-js-enabled sf-shadow" id="menu-topnav"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-3000" id="menu-item-3000"><a href="#">Home</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2997" id="menu-item-2997"><a href="#">About{{ keyword }}</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2998" id="menu-item-2998"><a href="#">About the Blogger</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-3306" id="menu-item-3306"><a href="#">Retro Archives</a>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2999" id="menu-item-2999"><a href="#">Copyright Notice</a></li>
</ul></div> </div>
<div class="clearfix"></div>
<div class="wrapper">
{{ text }}
      
    <div class="basement clr">
<p> 2017 <a href="#">ATLRetro</a>. All Rights Reserved. This blog is powered by <a href="#">Wordpress</a></p>
</div>
</div>

</body>
</html>