<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<link href="http://gmpg.org/xfn/11" rel="profile"/>

<title>{{ keyword }}</title>

<style id="cleanwp-maincss-css" media="all" rel="stylesheet" type="text/css">

/* Reset
-------------------------------------------------------------- */
html,body,div,h1,h2,a,ul,li,footer,header,nav {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    font-family: sans-serif;
    font-size: 62.5%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

*,*:before,*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #fff;
    line-height: 1;
}

footer,header,nav {
    display: block;
}

ul {
    list-style: none;
}

a {
    background-color: transparent;
}

a:focus {
    outline: thin dotted;
}

a:hover,a:active {
    outline: 0;
}

button {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button {
    text-transform: none;
}

button {
    -webkit-appearance: button;
    cursor: pointer;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Typography & Elements
-------------------------------------------------------------- */
body,button {
    color: #161514;
    font-family: Lora,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.6;
}

button {
    max-width: 100%;
}

body {
    background: #717171;
}

a {
    color: #C90000;
    text-decoration: none;
    outline: none;
}

a:hover {
    color: #111111;
    text-decoration: none;
}

a:focus {
    outline: none;
}

h1,h2 {
    clear: both;
    font-family: 'Raleway',Arial,sans-serif;
    font-weight: 700;
    line-height: 1;
    margin: .6em 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

ul {
    margin: 0 0 1.5em 3em;
}

ul {
    list-style: disc;
}

/* Clearings & Accessibility
-------------------------------------------------------------- */
.clear {
    clear: both;
}

.clearfix:before,.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.screen-reader-text {
    clip: rect(1px,1px,1px,1px);
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.6);
    clip: auto!important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

/* Forms
-------------------------------------------------------------- */
button {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

button {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5),inset 0 15px 17px rgba(255,255,255,0.5),inset 0 -5px 12px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5),inset 0 15px 17px rgba(255,255,255,0.5),inset 0 -5px 12px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5),inset 0 15px 17px rgba(255,255,255,0.5),inset 0 -5px 12px rgba(0,0,0,0.05);
    color: rgba(0,0,0,.8);
    cursor: pointer;
    -webkit-appearance: button;
    font-size: 12px;
    line-height: 1;
    padding: .6em 1em .4em;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
}

button:hover {
    border-color: #ccc #bbb #aaa;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.8),inset 0 15px 17px rgba(255,255,255,0.8),inset 0 -5px 12px rgba(0,0,0,0.02);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.8),inset 0 15px 17px rgba(255,255,255,0.8),inset 0 -5px 12px rgba(0,0,0,0.02);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.8),inset 0 15px 17px rgba(255,255,255,0.8),inset 0 -5px 12px rgba(0,0,0,0.02);
}

button:focus,button:active {
    border-color: #aaa #bbb #bbb;
    -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5),inset 0 2px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5),inset 0 2px 5px rgba(0,0,0,0.15);
    box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5),inset 0 2px 5px rgba(0,0,0,0.15);
}

/* Layout
-------------------------------------------------------------- */
#wrapper {
    margin: 0 auto;
    position: relative;
}

#content {
    padding: 15px;
    width: 1030px;
    margin: 0 auto;
    background: #faf9f5;
    border-bottom: 1px solid #ddd;
}

/* Header
-------------------------------------------------------------- */
#masthead {
    background: #faf9f5;
    margin: 10px auto 0;
    padding: 10px 15px 10px 15px;
    width: 1030px;
}

#site-top {
    margin: 0;
    position: relative;
    overflow: hidden;
}

#blogname {
    margin: 0 0 10px 0;
    padding: 0;
    overflow: hidden;
}

.site-title {
    margin: 0 0 10px 0;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #000000;
}

.site-title a {
    display: block;
    color: #000000;
}

.site-description {
    margin: 0 0 0 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.header-social-icons {
    font-family: Lora;
    font-size: 20px;
    padding: 10px 0 10px;
    text-align: center;
    line-height: 1;
}

/* Menu
-------------------------------------------------------------- */
.main-navigation {
    background-color: #777;
    display: block;
    padding: 0 10px;
    font-family: 'Raleway';
}

.main-navigation ul {
    list-style: none;
    margin: 0;
}

.main-navigation li {
    float: left;
    padding: 0;
    position: relative;
}

.main-navigation a {
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    padding: 10px;
}

.main-navigation a:hover {
    color: #ccc;
}

.menu-toggle {
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 1049px) {
.menu-toggle {
    font-family: 'Raleway';
    font-weight: bold;
    background: none;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    color: #fff;
    display: block;
    font-size: 16px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    text-shadow: none;
    text-transform: uppercase;
    width: 100%;
}

.menu-toggle:before {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
    vertical-align: text-bottom;
    -webkit-font-smoothing: antialiased;
    content: "\f0c9";
    margin-right: 12px;
    position: relative;
    top: -2px;
}

.menu-toggle {
    display: block;
}

.main-navigation {
    color: #fff;
    padding-right: 1em;
    padding-left: 1em;
}

.main-navigation ul {
    display: none;
}

.main-navigation ul a {
    font-size: 16px;
    text-transform: uppercase;
}

.main-navigation ul li {
    border-top: 0px dotted #5d5c5c;
    float: none;
    padding: 0;
}

.main-navigation ul li:first-child {
    border-top: 0;
}
}


.site-footer {
    width: 1030px;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    background: #ddd;
    font-size: 90%;
}

.site-footer a:link,.site-footer a:visited {
}

.site-footer a:hover {
}

.site-info {
    text-align: center;
    line-height: 16px;
}


@media only screen and (max-width: 1049px) {
#content {
    width: 100%;
}

#masthead {
    width: 100%;
    padding: 10px 0 10px 0;
}

.site-title {
    padding-left: 10px;
    padding-right: 10px;
}

.site-description {
    padding-left: 10px;
    padding-right: 10px;
}

.site-footer {
    width: 100%;
}

.site-info {
    width: 100%;
}
}</style>
<style id="font-awesome-css" media="all" rel="stylesheet" type="text/css">/*!
 *  Font Awesome 4.5.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */@font-face{font-family:'FontAwesome';src:url() format('embedded-opentype'),url(),url(),url(),url();font-weight:normal;font-style:normal}
</style>
<link href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Raleway:700,900,400,300&amp;subset=latin,latin-ext" id="cleanwp-webfont-css" media="all" rel="stylesheet" type="text/css"/>


<style type="text/css">
                                                                           		.entry-title a:hover {color: #444444}
                                                                                                                                                      															.entry-read-more {display: none;}
			</style>
<style id="custom-background-css" type="text/css">
body.custom-background { background-color: #777777; }
</style>
</head>
<body class="custom-background">
<div id="wrapper">
<a class="skip-link screen-reader-text" href="#">Skip to content</a>
<header class="site-header" id="masthead" role="banner">
<div id="site-top">
<div id="blogname">
<div class="site-branding">
<h1 class="site-title"><a href="#" rel="home">{{ keyword }}</a></h1>
<h2 class="site-description">The Internet It Just Gives and Gives and Gives.</h2>
</div>
</div>
<div class="header-social-icons">
</div>
</div>
<nav class="main-navigation clearfix" id="site-navigation" role="navigation">
<button aria-controls="primary-menu" aria-expanded="false" class="menu-toggle">Menu</button>
<div class="menu" id="primary-menu"><ul><li><a href="#">Home</a></li></ul></div>
</nav>
</header>
<div class="site-content" id="content">

{{ text }}

<div class="clear"></div>
</div>
</div>
<footer class="site-footer" id="colophon" role="contentinfo">
<div class="site-info">
  Copyright  2017 {{ keyword }} | <a href="#">Design by ThemesDNA.com</a>
</div>
<div class="clear"></div>
</footer>

</body>
</html>