/*
Theme Name: Fitfab
Theme URI: http://theemon.com/f/fitfab-wp/LivePreview/
Author: Theemon WordPress Theme
Author URI: http://theemon.com/
Description: This one of the best Architects & Engineers firm website templates contains sophisticated shortcodes, FontAwesome icons and manifold parallax effects.
Version: 1.1.1
Tags: black, white, yellow, two-columns, left-sidebar, fixed-layout, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images,  post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: fitfab
License: 
License URI: 
-----------------------------*/
/* = Bootstrap RTL
---------------*/
@import url(assets/css/bootstrap-rtl.css); 
body.rtl {
    direction: rtl;
    text-align: right;
} 


/* ======================= Home Page ================================*/


.homepage-1 .practice-list{
    float:left;
}
.homepage-1 .team-info_wrap .owl-controls{
    left:0;
}
.owl-carousel {
    direction: ltr;
}
.homepage-1 #owl-slider2 .item p{
    padding: 0 2px 27px;
}
ul.list-global.pack-list li i {
    padding-left: 8px;
    padding-right: 0px;
}
.homepage-1 .package-price .button-btn{
    margin-left:0;
    margin-right:14px;
}
.homepage-1 .event-calender{
    float:right;
    margin-right: 0px;
    margin-left: 23px;
}
.footer-one .class-list li{
    float:right;
}
.header-two .logo{
    float:right;
}
.header-two .calling-contact{
    padding-right:23px;
    padding-left:0;
    border-right: 1px solid #e5e8f1;
    border-left: 0;
    float:right;
}
.footer-one .calling-contact{
    float:right;
    margin-left:0;
    margin-right:60px;
}


/* ======================= Home Page One ================================*/

.homepage-2 .tabing-wrap .nav-tabs{
    float:left;
}
.nav-tabs > li{
    float:right;
}
.homepage-2 .view-all{
    left:0px;
    right:auto;
}
.homepage-2 .event-list{
    padding: 50px 2% 20px 0.5%;
}

/* ======================= Home Page Two ================================*/

.classes-populer .home-three-head h2{
    width: 100%;
}
.owl-buttons{
    left: 0;
}
.about-fit .home-three-head{
    padding-left:0px;
    padding-right:38px;
}
.about-fit .conntent-fit-about{
    padding-left:0px;
    padding-right:38px;
}
.bottom-link{
    padding-left:0px;
    padding-right:38px;
}
.package-list-3 li figure{
    float:right;
}
.timing-listing{
    float:right;
    padding-left: 0;
    padding-right:28px;
}
.homepage-3 .package-list-3 li ul li{
    margin-right:0;
    margin-left: 17px;
    float:right;
}
.pack-price .button-btn{
    margin-left:0;
    margin-right:20px;
}
.bdr-right{
    border-left: 1px solid #e5edfb;
}
.or-block{
    left:-27px;
    right:auto;
}
.classes-populer .home-three-head h2{
    text-align: right;
}
.classes-populer .home-three-head > span{
    float:left;
}
.bottom-link .button-btn, .small-btn{
    float:left;
}
.brands-list li:first-child{
    margin-right: 0;
}

.brands-list > li{
    float:right;
    margin-left: 0;
    margin-right: 6.2%;
}


/* ======================= Home Page Three ================================*/

.bottom-link .button-btn, .small-btn{
    float:right;
}
.homepage-4 .package-price > span{
    float:right;
}
.center-btn{
    overflow: hidden;
}

/* ======================= About Page Three ================================*/

.who_wrap .looking-fit .head-global .button-btn{
    float:left;
}
.who_wrap .looking-fit .head-global h2{
    float:right;
}
ul.list-global.pack-list li i{
    padding-left: 16px;
    padding-right: 8px;
}

/* ======================= Trainers Page Three ================================*/

.homepage-2 .trainers-block .latest-news-home_two .classes-content{
    padding-right: 22px;
    padding-left:0px;
}
.homepage-2 .latest-news-home_two .classes-content span{
    margin-right:0;
}

/* ======================= Blog Page Three ================================*/


.recent-post-blog ul li .recent-info{
    width: 100%;
}
.blog-comment{
    border-left: 0;
    border-right: 4px solid #e5e8f1;
}

/* ======================= event Page Three ================================*/

.main-event-content .event-info-event{
    float:right;
}


/* ======================= Faq Page Three ================================*/

.faq-qs-sec .ques{
    right:0;
    left:auto;
}
.faq-qs-sec strong{
    padding-right:19px;
    padding-left:0;
}
.faq-qs-sec .ans{
    right:0;
    left:auto;
}
.faq-qs-sec p{
    padding-right:19px;
    padding-left:0;
}

/* ======================= Contact Page Three ================================*/

.header-three .logo-homepage-three{
	float:right;
}
.header-three .menu-wrap{
	float:left;
}
.header-three .menu-box{
	float:right;
}
.header-three .join-info{
	float:left;
}
.header-three .join-info .button-btn{
	float:right;
}
.header-three .calling-contact{
	float:right;
}
.header-three .join-info::before{
	right:0;
	left:auto;
	border-width:0px 27px 0px 50px;
}
.header-three .logo-homepage-three{
	padding-left:0;
	padding-right:15px;
}
.header-three .logo-info{
	margin-right:12px;
	margin-left:0;
}
.header-four .logo span{
	padding-right:20px;
}
.footer-one .calling-contact{
	   border-right: 0;
	   border-left: 1px solid #2b2b39
}
.footer-two .footer-logo{
	  border-left: 1px solid #dfe2e9;
	    border-right: 0;
}
.footer-two .class-time{
	 border-right: 0;
	  border-left: 1px solid #dfe2e9;
	  padding-right:35px;
	  padding-left:15px;
}
.footer-two .class-list li{
	float:right;
}
.footer-two .media-wrap{
	float:left;
}
.footer-two .calling-contact{
	float:right;
	border-right: 0;
	border-left: 1px solid #ccd0dd;
	margin-left: 0;
	margin-right:60px;
}
.footer-two .media-wrap li{
	float:right;
}
.footer-two.footer-three .calling-contact{
	padding-right:15px;
	margin-right:40px;
	border-left: 1px solid #659427;
	border-right: 0;  
}
.footer-one.footer-four .footer-logo, .footer-one.footer-four .class-time{
	 border-right: 0;
	  border-left: 1px solid #464953;
}
.footer-one .class-time{
	padding-right:35px;
	padding-left:15px;
}
.footer-one .media-wrap li{
	float:right;
}
