.woocommerce .shop-detail-info div.images, .shop-detail-info .summary.entry-summary {
    float: none !important;
    width: 100% !important;
}
.woocommerce #reviews h3 {
    margin-bottom: 20px;
}
.woocommerce .summary.entry-summary {
    float: none !important;
    width: 100% !important;
}
.woocommerce .summary.entry-summary .price ins span {
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    color: #3b3e47;
}
.woocommerce.woocommerce div.price, .woocommerce div.product span.price {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: #868c9e;
}
.woocommerce .cart-info i {
    color: #ffffff;
    display: inline-block;
    margin: 0 0 0 9px;
}
.woocommerce .shop-detail-info span.sale{
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    color: #ffffff;
    padding: 12px 16px 12px 24px;
    border-radius: 15px 0 0 15px;
    position: absolute;
    top: 30px;
    right: 17px;
    background: #8ecc3b;
    text-transform: uppercase;
    z-index: 999;
}
.woocommerce-shipping-calculator input[type="text"], .woocommerce-shipping-calculator input[type="password"], .woocommerce-shipping-calculator textarea {
    border: 1px solid #eaeff7;
    width: 100%;
    height: 41px;
    color: #868c9e;
    font-family: 'Oswald', sans-serif;
    padding: 0 16px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}
.woocommerce .description-review-detail input[type="text"], .description-review-detail input[type="password"], .description-review-detail textarea {
    border: 1px solid #eaeff7;
    width: 100%;
    height: 41px;
    color: #868c9e;
    font-family: 'Oswald', sans-serif;
    padding: 0 16px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}
.shopping-cart .shipping-calculator-button{
    color: #3b3e47;
}
.shopping-cart .cross-sell strong.sale{
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    color: #ffffff;
    padding: 12px 16px 12px 24px;
    border-radius: 15px 0 0 15px;
    position: absolute;
    top: 30px;
    right: 17px;
    background: #8ecc3b;
    text-transform: uppercase;
    z-index: 999;
}
.shopping-cart .calculate-shipping {
    padding-left: 22px;
    padding-top: 30px;
    margin-bottom: 27px;
}
.woocommerce-checkout #payment {
    background: none;
}
.woocommerce-checkout #payment ul.payment_methods li label{
    display:inline-block;
    line-height: 1.2;
    vertical-align: top;
}
.woocommerce-checkout #payment ul.payment_methods {
    margin-top: 18px;
}
.woocommerce form .form-row textarea {
    height: 125px !important;
}
.woocommerce-shipping-fields label{
    display: inline-block !important;
}
.woocommerce-shipping-fields .checkbox1 input {
    top: 8px;
    left: 5px;
}
.shopping-cart .proname {
    padding-left: 0px !important;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    font-size: 16px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    padding: 0px 38px;
    background: #8ecc3b;
    margin-top: 15px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    line-height: 34px;
    display: inline-block;
    border: 2px solid #8ecc3b;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.woocommerce .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
    background: #ffffff;
    color: #8ecc3b;
}
.woocommerce .product-cart .stock input {
    font-size: 14px;
    color: #868c9e;
    float: left;
    border: 1px solid #e5e8f1;
    padding: 15px 0px 14px 12px;
    border-radius: 5px 0 0 5px;
    width: 53px;
    -webkit-appearance: none;
}
.woocommerce .product-cart .increment-decrement i{
    font-size: 9px;
    color: #868c9e;
    display: block;
    border-bottom: 1px solid #e5e8f1;
    padding: 7px 10px 6px;
}
.woocommerce .product-cart .increment-decrement i:last-child{
    font-size: 9px;
    color: #868c9e;
    display: block;
    border-bottom: 1px solid #e5e8f1;
    padding: 7px 10px 6px;
}
.woocommerce .product-cart .increment-decrement {
    float: left;
    border: 1px solid #e5e8f1;
    border-left: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.woocommerce .product-cart .stock {
    width: 49%;
}
.woocommerce .variations label{
    font-size: 14px;
    color: #3b3e47;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
.woocommerce td.label{
    padding-top: 26px;
    display: block;
}
.woocommerce .woocommerce-checkout-review-order li span{
    font-size: 11px;
}