/***********************************
 *  wordpress default css
 ***********************************/
.wp-caption {
    background: #fff;
    max-width: 96%; 
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    padding: 0 4px 5px;
}
.bypostauthor {
}
/* Alignment */
.alignleft {
    display: inline;
    float: left;
    margin-right: 40px;
}
.alignright {
    display: inline;
    float: right;
    margin-left: 40px;
}
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.screen-reader-text {

}


/*
 * Header Menu fixing
 **********************************/
.sub-menu {
    display: none;
    position: absolute;
    top: 25px;
    left: 15px;
    padding-top:20px;
    list-style: none;
    width:152px;
    z-index: 9;
}
.sub-menu li {
    border-bottom: 1px solid #a7abb7;
    background: rgba(103,117,222,0.9);
}
.sub-menu li:last-child{
    border-bottom:none;
}
.sub-menu li a {
    font-size: 15px;
    color: #fff;
    text-transform: capitalize;
    font-family: 'archivo_narrowbold';
    padding: 12px 15px;
    display:block;
}
.nav li ul.sub-menu {
    left: 0px;
    margin: 0;
    top: 45px;
    padding: 0;
}
.nav li ul.sub-menu ul.sub-menu {
    left: 100%;
    top: 0;
}
.nav li ul.sub-menu ul.sub-menu ul.sub-menu ul.sub-menu {
    left: -100%;
}
.fitfab-required {
    border-color: #ff0000 !important;
}
.fit-fab-author-details h2 {
    margin-bottom: 0;
    font-size: 25px;
}
.fit-fab-author-details h3 {
    margin: 0;
    padding-bottom: 20px;
}
.fit-fab-author-details p {
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
}
.fit-fab-author-details {
    margin-bottom: 30px;
}
.blog-related-post h3 {
    margin-top: 0;
    margin-bottom: 0;
}
.blog-related-post h2 {
    margin: 0;
}
.blog-related-post a.prev-link, .blog-related-post a.next-link {
    color: #868c9e;
    display: block;
    font-family: "Oswald",sans-serif !important;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
    padding-left: 27px;
    position: relative;
    text-transform: uppercase;
}
.blog-related-post a.next-link { 
    padding-right: 27px;
}
.blog-related-post a.prev-link:after, .blog-related-post a.next-link:after {
    content: "\f177";
    position:absolute;
    left:0;
    color:#868c9e;
    font-size: 15px;
    top:0;
    font-family:'FontAwesome';
}
.blog-related-post a.next-link:after {
    left:auto;
    right: 0;
    content: "\f178";
}
.prev-next-title .prev, .prev-next-title .next {
    width: 50%;
    float: left;
}
.prev-next-title .next { 
    text-align: right;
}
.prev-next-title h3 {
    width: auto;
}
.vc_tta-accordion .vc_tta-controls-icon-position-left {
    display: block;
    height: auto;
    width: auto;
}

/*
 * Custom Row Settings
 **************************************/
.vc_row.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .vc_row.container {
	max-width: 750px;
    }
}
@media (min-width: 992px) {
    .vc_row.container {
	max-width: 970px;
    }
}
@media (min-width: 1200px) {
    .vc_row.container {
	max-width: 1170px;
    }
}



/*desing fixing*/
.fitfab-gym-layout-one .svg g{  
    fill: #6775DE;
}
.homepage-2 .fit_list-block{
    min-height: 240px;
}
.fitfab-schedule-fitfab-layout-one .svg g{
    fill: #6775DE;
}



/***** Buddypress Support ******/
#buddypress td.label {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    display: table-cell;
    font-size: 14px;
    width: 100%;
    color: inherit;
}
#buddypress label {
    line-height: 1.5;
}
#buddypress input[type="checkbox"], #buddypress input[type="radio"] {
    height: auto;
}
#buddypress #message.info {
    font-size: 14px;
}
#buddypress input {
    height: auto;
    font-size: 14px;
}
#buddypress ul.button-nav {
    margin-left: 0;
    overflow: hidden;
    padding-left: 0;
}
#buddypress .standard-form input[type="text"], 
#buddypress .field-visibility-settings, 
#buddypress .field-visibility-settings-notoggle, 
#buddypress .field-visibility-settings-toggle {
    font-size: 14px;
}
#buddypress ul.button-nav li {
    margin-top: 1px;
}
#buddypress .dir-search input[type="search"],
#buddypress .dir-search input[type="text"], 
#buddypress .groups-members-search input[type="search"], 
#buddypress .groups-members-search input[type="text"], 
#buddypress .standard-form input[type="color"], 
#buddypress .standard-form input[type="date"], 
#buddypress .standard-form input[type="datetime-local"], 
#buddypress .standard-form input[type="datetime"], 
#buddypress .standard-form input[type="email"], 
#buddypress .standard-form input[type="month"], 
#buddypress .standard-form input[type="number"], 
#buddypress .standard-form input[type="password"], 
#buddypress .standard-form input[type="range"], 
#buddypress .standard-form input[type="search"], 
#buddypress .standard-form input[type="tel"], 
#buddypress .standard-form input[type="text"], 
#buddypress .standard-form input[type="time"], 
#buddypress .standard-form input[type="url"], 
#buddypress .standard-form input[type="week"], 
#buddypress .standard-form select, 
#buddypress .standard-form textarea {
    font-size: 14px;
}
#buddypress #pass-strength-result {
    font-size: 14px;
}
#buddypress form#settings-form {
    font-size: 14px;
}
#buddypress p.warning, 
body.profile_page_bp-profile-edit.modal-open #TB_ajaxContent p.warning, 
body.users_page_bp-profile-edit.modal-open #TB_ajaxContent p.warning {
    font-size: 14px;
}
#buddypress div#item-header div#item-meta {
    font-size: 14px;
}
#buddypress div#message {
    clear: both;
    font-size: 14px;
}
#buddypress div#message p {
    margin: 0;
}

/*
 * Gravity Form Support
 */
.gform_wrapper ul.gfield_checkbox li input[type="checkbox"], 
.gform_wrapper ul.gfield_radio li input[type="radio"] {
    height: auto;
}





.fit-fab-populer-classes-layout-one ul.nav.nav-tabs li.active a,
.fit-fab-populer-classes-layout-one ul.nav.nav-tabs li a:hover {
    background: none !important;
}
.fit-fab-schedule-layout-one .owl-carousel .owl-item  .item {
    display: block;
    min-height: 0;
}
.fit-fab-schedule-layout-one .owl-carousel .owl-item  .item img {
    height: 261px;
}
.fit-fab-fitness-layout-two .fit_list-block {
    min-height: 275px !important;
}
.fit-fab-fitness-layout-two .fit_list-block .svg g,
.fit-fab-fitness-layout-three .fit_list-block .svg g,
.fit-fab-who-we-are-layout-one .svg g {
    fill: #6775DE;
}

.fit-fab-schedule-layout-two .item {
    display: block !important;
    min-height: 0 !important;
}
.fit-fab-schedule-layout-two .item img {
    min-height: 257px;
}
.fit-fab-trainers-layout-three .block-img img {
    width: 100% !important;
}
.fit-fab-calsses-layout-one .nav-tabs li.active a {
    background: none !important;
}
.fit-fab-calsses-layout-one .classes-listing-wrap figure img {
    width: 100%;
}
body.single-class .class-thumbnail img {
    width: 100%
}
body.single-class .single-class-content ul li {
    color: #3b3e47;
    font-family: roboto;
    font-size: 15px;
    padding-bottom: 14px;
    padding-left: 10px;
    position: relative;
}
body.single-class .media-class strong {
    float: left;
}
body.single-class .media-class .media-wrap1 {
    display: block;
    position: static;
    margin: 0;
    padding-left: 0;
    display: block;
}
body.single-class .media-class .media-wrap1 li {
    margin-right: 0;
    margin-left: 17px;
}


.classes-content .up-arrow {
    background: transparent !important;
}
button.sub-search-blog {
    height: 41px !important;
    margin-top: 0 !important;
}
.widget_categories ul {
    background: transparent;
    padding: 0;
}
.widget_nav_menu ul {
    position: static !important;
    background: transparent !important;
    width: auto !important;
}
.widget_nav_menu ul li,
.widget_nav_menu ul li a {
    background: transparent !important;
    border: none !important;
}
.widget_search .search-form input[type="search"] {
    font-size: 14px;
    width: 100%;
    background-color: #ffffff;
}
.widget_search .search-form label {
    width: 86%;
    float: left;
}
.widget_search .search-form input[type="submit"] {
    display: block;
    width: 14%;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
.widget_search form {
    position: relative;
    overflow: hidden;
}
.widget_search .search-form::before {
    position: absolute;
    right: 15px;
    top: 12px;
    color: #ffffff;
    font-size: 18px;
    z-index: 1;
}
.widget_search .search-form {
    background: #6775de;
}
#search-blog {
    font-size: 14px;
}
#header.header-one {
    position: static;

}
.breadcrum-sec {
    margin-bottom: 42px;
}
.header-three .calling-contact {
    border-right: none;
}


/*desktop view */
.button-btn:hover {
    background: transparent none repeat scroll 0 0;
}
.homepage-1 .team-info > strong {

    text-shadow: 0 0 1px #fff;
}
.homepage-1 .fit_sexy h1 {
    text-shadow: 0 0 1px #fff;
}
.homepage-2 .slider-item-caption {
    z-index: 2;
}
.fit-fab-schedule-layout-one .owl-carousel .owl-item .item::after {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    left:0;
    right:0;
}
.homepage-2 .event-list span {

    line-height: 14px;
}
.homepage-2 .upcome-event .schedule-info, .homepage-2 .event-list {
    min-height: 270px;
}
.homepage-2 .classes-content h3 a {
    color: #3b3e47;
}
.homepage-3 #owl-hthree-one .owl-controls .owl-buttons{
    bottom:53px;
}
h3 a:hover{
    text-decoration: none;
}
h3 {
    color: #3b3e47;
}
.class-aside-wrap .widget ul {
    background: #f2f5ff none repeat scroll 0 0;
    margin-top: 30px;
    padding: 32px 35px;
}
.homepage-1 .tabing-wrap .nav-tabs {
    background: #e6e7eb none repeat scroll 0 0;
}
.homepage-2 .tabing-wrap .practice-list-main-container .nav-tabs{
    width: 71.8%;
}
.main-blog-content .blog-program .classes-content h2{
    margin: 0;

}
.artical-faq {
    background-position: -71% 87% !important;
    padding-bottom: 200px;
    min-height: auto;
}
.homepage-1 .head-global h2 {
    margin-bottom: 0px;
}



.fitfab-schedule-fitfab-layout-one .practice-list-main-container .nav-tabs li.active a {
    color: #ffffff !important;
}
.woocommerce .addresses address {
    clear: both;
}
.woocommerce .addresses .address header {
    float: none;
    clear: both;
    display: block;
}

.fit-fab-faq-layout-one .artical-faq {
    background-position: left bottom !important;
}


input[type="text"], 
input[type="url"], 
input[type="email"], 
input[type="tel"], 
input[type="number"],
input[type="password"],
input[type="search"],
text-area {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

body .gform_wrapper input[type="text"], 
body .gform_wrapper input[type="url"], 
body .gform_wrapper input[type="email"], 
body .gform_wrapper input[type="tel"], 
body .gform_wrapper input[type="number"], 
body .gform_wrapper input[type="password"],
body .gform_wrapper select {
    font-size: 14px;
    padding: 0 4px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.woocommerce  select, .buddypress select { 
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; 
    padding: 0 4px;
    line-height: 1;
}
body.safari.woocommerce  select, 
body.safari.buddypress select, 
body.safari .gform_wrapper select,
body.chrome.woocommerce  select, 
body.chrome.buddypress select, 
body.chrome .gform_wrapper select {
    padding-right: 14px;
    background: url(../images/safari-select.png) right center no-repeat;
}
input[type="checkbox"], input[type="radio"] {
    height: auto;
    line-height: 1;
}
.widget.buddypress #bp-login-widget-form label {
    line-height: 1.5;
}
.buddypress.widget .widget-error {
    font-size: 14px;
}
.buddypress.widget .item-options a, 
.buddypress.widget .item-options span {
    font-size: 14px;
}
.widget.buddypress #friends-list li, .widget.buddypress #groups-list li, .widget.buddypress #members-list li {
    overflow: hidden;
}
.widget_bp_core_members_widget .item-avatar {
    float: left;
}
.widget_bp_core_members_widget .item {
    float: left;
    width: auto;
}
.widget_bp_core_members_widget .vcard div.item-meta {
    margin-left: 0;
}
.widget_bp_core_members_widget #members-list {
    overflow: hidden;
}
body.safari #activity-filter-by,
body.safari #members-order-by {
    padding-top: 4px;
    padding-bottom: 4px;
}
.blog-program:after {
    content: " ";
    display: block;
    clear: both;
    overflow: hidden;
    height: 0;
}






/*===========================  01-04-2016 =============================================*/
.header-two .navbar{
	padding-top:13px;
	position: relative;
}
.header-two .top-header{
	padding-bottom: 4px;
}
.header-two .logo span, .header-two .calling-contact a{
	line-height: 23px;
}
.footer-two .bottom-footer{
	  padding-bottom: 23px;
      padding-top: 32px;
}
.fit-fab-populer-classes-layout-one .tabing-wrap .nav-tabs{
	background:none;
}
.fit-fab-fitness-layout-two .fit-description h3{
	margin:0;
}
.fit-fab-calsses-layout-one .tabing-wrap .nav-tabs{
	background:none;
}
.fitfab-schedule-fitfab-layout-one .head-global h2{
	margin-bottom:40px;
}
.yoga-class-wrap .classes-listing-wrap img{
	width:100%;
}
.page-template-fitfab-blog-php .main-blog-contentt{
	padding-top:16px;
}
.fitfab_widget_search{
	padding-top:10px;
	padding-bottom:30px;
}
.widget_recent_comments{
	padding-top:20px;
	padding-bottom:20px;
}
.widget_tag_cloud a{
	height:36px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	float:left;
	margin-right:4px;
}
.fit-fab-faq-layout-one .artical-faq{
	background-position: -28% 87% !important;
	padding-bottom: 270px;
}
.error404 .artical-part{
	background-position: 50% bottom !important;
}
.cool-products .woocommerce-ordering{
	border-radius:4px;
}
.fitfab-gym-layout-one .head-global h2,.fitfab-package-layout-one .head-global h2,
.fitfab-news-event-layout-one .head-global h2, .fitfab-cool-product-layout-one .head-global h2{
	margin-bottom:30px;
}
.header-three .logo-homepage-three{
	padding: 10px 0px;
}
.header-three .menu-box{
	 padding-top: 17px;
}
.header-three .join-info{
	 padding-top: 15px;
	 padding-bottom: 19px;
}
.footer-two .bottom-footer{
	padding-bottom:13px !important;
}
.header-four .navbar{
	padding-top: 4px;
}
#header.header-four{
	padding-bottom: 7px;
}
.fitfab-gym-layout-one .fit-description h3,
.fitfab-gym-layout-one .fit-description p{
	margin:0;
}
.fitfab-gym-layout-one .fit_list-block{
	min-height:209px;
}
.fitfab-gym-layout-one .fit-description{
	margin-top:29px;
}
.fitfab-schedule-fitfab-layout-one .tabing-wrap .nav-tabs{
	background: #ffffff;
}
.fitfab-schedule-fitfab-layout-one .practice-list > span{
	line-height:16px;
}
.success_story_wrap{
	background-position: 133% top !important;
}
.fit-fab-schedule-layout-two .owl-carousel .item:before{
	 background: rgba(50, 50, 50, 0.8) none repeat scroll 0 0;
    content: " ";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2;
    left:0;
    right:0;
}
.header-two .media-wrap,
.header-two .navbar-nav{
	float:right;
}
.header-two .navbar-nav>li:last-child a{
	padding-right: 0;
}
.fit-fab-feature-layout-one{
	 background-size: auto 100%;
}
.rev-btn{
	border-radius: 30px;
}
.single-classes-page-wrap .free-class-detail{
	padding-top:0;
}
.fit-fab-schedule-page .fitfab-schedule-fitfab-layout-one.class-schedule{
	background: none;
}
.fit-fab-schedule-page .fitfab-schedule-fitfab-layout-one .tabing-wrap .nav-tabs{
	background: #e6e7eb;
}
.fit-fab-trainers-list-layout-one .plus-more{
	padding-top: 4px;
}

.trainer-detail .trainer-contact a{
	line-height:30px;
	padding-top:4px !important;
}
.trainer-detail .trainer-contact span{
	line-height: 14px !important;
}
.fitfab_widget_search #search-blog{
	font-size: 12px;
	height:50px;
}
.fitfab_widget_search button.sub-search-blog{
	height:50px !important;
}
.fit-fab-contact-info-laout-one .comment-entry-box .form-group input.form-control,
.fit-fab-contact-info-laout-one .text-area{
	font-size:12px;
}
body.woocommerce .cool-products{
	background:#fff !important;
}
body.woocommerce .cool-products .slider-content.product-content{
	padding-left:22px;
}
.fit-fab-trainers-layout-one .team-info > strong{
	line-height: 48px;
}
.success_story_wrap .head-global h2{
	margin-bottom:30px;
}
.description-review .nav-tabs > li a {
    width: auto;
}
.breadcrum-sec{
	margin-bottom:0;
}
/*==================================== 06-04-2016 ================================*/

.fitfab-schedule-fitfab-layout-one .tabing-wrap .tab-content{
	padding-top: 0;
}
.fit-fab-trainers-layout-two  .slider-content{
	background: #ffffff;
}
.fit-fab-trainers-layout-two.schedule-section .schedule-info{
	padding-top:40px
}
.header-three{
	border-top:0;
}
.fitfab-package-layout-two .pack-price strong{
	display:inline-block;
}
.fitfab-news-event-layout-two{
	padding-bottom:0 !important;
}
.header-four .logo span{
	line-height:23px;
}
#comments .comment-entry-box .form-group input.form-control,
#comments .text-area{
	font-size:12px;
}
.blog-sidebar-read-btn{
	background: #8ecc3b none repeat scroll 0 0;
    border: 2px solid #8ecc3b;
    
    color: #fff;
    display: inline-block;
    font-family: "Oswald",sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: auto;
    line-height: 40px;
    padding: 0 24px;
    text-align: center;
    text-transform: capitalize;
    transition: all 0.5s ease 0s;
}
.blog-sidebar-read-btn:hover{
	 background: #fff none repeat scroll 0 0 !important;
    color: #8ecc3b !important;
    text-decoration: none;
}
 /*=========================================== 07-04-2016 ===========================================*/

#search-blog {
test-transform: none;
}

/*=========================================== 08-04-2016 ===========================================*/

.fit-fab-populer-classes-layout-two .slider-cap-info{
	padding: 20px 0;
}
.fit-fab-trainers-layout-three .plus-more{
	padding-top:3px;
}
.fitfab-package-layout-two .package-list-3 li:nth-child(2n) .pack-price {
  background:#056cc7;
}


/*=========================================== 11-04-2016 ===========================================*/

.fitfab-fitness-programs-layout-one .facility-list li h2{
	font-family: "Roboto", sans-serif ;
}
.fit-fab-blog-layout-one blockquote p{
	font-family: "Oswald",sans-serif !important;
}
.fit-fab-who-we-are-layout-one.who_wrap .head-global p{
	font-family: "Oswald",sans-serif !important;
}
/*=========================================== 14-04-2016 ===========================================*/

.fit-fab-coming-soon-layout .logo{
	padding:38px 0;
}
.fit-fab-coming-soon-layout #header{
	background:rgba(255,255,255,0.05);
	 
    width: 100%;
}
.fit-fab-coming-soon-layout h2{
	color: rgb(255, 255, 255);
    font-size: 42px;
    font-weight: bold;
    line-height: 1.18;
    margin-bottom: 46px;
    padding-left: 0;
    text-align: left;
    text-shadow: 0.5px 0.866px 1px rgba(40, 40, 40, 1);
}
.fit-fab-coming-soon-layout p{
	color: rgb(255, 255, 255);
    display: block;
    font-size: 19px;
    line-height: 1.714;
    margin-bottom: 52px;
    padding-right: 50px;
    
    text-shadow: 0.5px 0.866px 1px rgba(40, 40, 40, 1);
}
.fit-fab-coming-soon-layout .countdown-section {
    color: rgb(255, 255, 255);
    font-family: "latoblack";
    font-size: 14px;
    line-height: 1.857;
    padding-bottom: 16px;
    padding-top: 16px;
    text-align: center;
    text-shadow: 0.5px 0.5px 1px rgba(40, 40, 40, 0.4);
    text-transform: uppercase;
    width: 21.3%;
}
.fit-fab-coming-soon-layout .countdown-row .countdown-section {
    background-color: rgb(142, 204, 59);
    box-shadow: 0.5px 0.866px 1px 0 rgba(40, 40, 40, 0.4);
    float: left;
    height: 141px;
}
.fit-fab-coming-soon-layout .countdown-row .countdown-section + .countdown-section {
    background-color: rgb(127, 192, 56);
    box-shadow: 0.5px 0.866px 1px 0 rgba(40, 40, 40, 0.4);
    float: left;
    height: 141px;
}
.fit-fab-coming-soon-layout .countdown-row .countdown-section + .countdown-section + .countdown-section {
    background-color: rgb(108, 183, 58);
    box-shadow: 0.5px 0.866px 1px 0 rgba(40, 40, 40, 0.4);
    float: left;
    height: 141px;
}
.fit-fab-coming-soon-layout .countdown-row .countdown-section + .countdown-section + .countdown-section + .countdown-section {
    background-color: rgb(84, 175, 67);
    box-shadow: 0.5px 0.866px 1px 0 rgba(40, 40, 40, 0.4);
    float: left;
    height: 141px;
    z-index: 8;
}
.fit-fab-coming-soon-layout .countdown-amount {
    color: rgb(255, 255, 255);
    display: block;
    font-family: "latoblack";
    font-size: 36px;
    text-shadow: 0.5px 0.134px 1px rgba(40, 40, 40, 1);
}
.fit-fab-coming-soon-layout #footer{
	padding:0;
	background:rgba(255,255,255,0.05);
	font-size: 15px;
    font-weight: 400;
    line-height: 1;
    color: #ffffff;
}
.fit-fab-coming-soon-layout .wpcf7-form p{
	margin-bottom:20px;
	font-size:15px;
	 color: #ffffff;
         text-transform: uppercase;
}
.fit-fab-coming-soon-layout .wpcf7-form input,
.fit-fab-coming-soon-layout .wpcf7-form textarea{
	background:transparent;
	color:#ffffff;
	line-height: 20px;
	padding:8px;
}
.fit-fab-coming-soon-layout .wpcf7-form input{
	height:30px;
}
.fit-fab-coming-soon-layout .wpcf7-form textarea{
	height:150px;
}
.fit-fab-coming-soon-layout .wpcf7-submit{
	border:1px solid #ffffff;
	height:38px !important;
	line-height:38px !important;
	width:auto;
	padding:0 10px !important;
	text-align: center;
}

/*---------26-04-2016-----------*/
.plus-more {
    padding: 9px 0px !important;
    height: 38px;
    line-height: 1;
}
body.single.single-class .single-class-content ul, body.single.single-class .single-class-content ul li {
    list-style: none;
    padding-left: 0;
}
body.single.single-class .single-class-content ul li:before {
    content:"\f178";
    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    margin-right: 12px;
    position: static;
}
.woocommerce.widget_shopping_cart .buttons > a {
    float: left;
    width :45%;	
	margin-right:5px;
}
.woocommerce.widget_shopping_cart .buttons > a {
	font-size:13px;
	padding:0 10px;
}
.fit-fab-populer-classes-layout-one .head-global {
    padding-left: 30px;
    padding-right: 30px;
}
.classes-page-class.fit-fab-calsses-layout-one .tabing-wrap .nav-tabs {
    width: auto !important;
}
.fitfab-schedule-fitfab-layout-one .practice-list > strong {
    font-weight: normal;
}
.fit-fab-blog-layout-one .classes-content h2 {
    margin-bottom: 0;
}
.blog-program .owl-controls {
    top: 50% !important;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.fit-fab-trainers-layout-two .trainer-info-caption h4 {
    margin-top: 0;
    margin-bottom: 0;
}
.fitfab-schedule-fitfab-layout-one .practice-list {
    min-height: 215px;
}
.fit-fab-blog-layout-one .blog-program .blog-sidebar-read-btn {
    border: none;
    padding: 0;
    text-transform: uppercase;
    background: transparent !important;
    line-height: 1;
}
#comments .comment-entry-box .form-group input.form-control, #comments .text-area {
    box-shadow: none;
}
.breadcrumb > li + li:before {
    font-family: 'Oswald', sans-serif;
}
.widget_archive ul, .widget_categories ul, .widget_recent_comments ul, .widget_categories + .recent-post-blog ul {
    margin-top: 0;
    padding-top: 0;
}

/**************Fixes issue (24/05/2016)**************/

.woocommerce .widget_price_filter .price_slider_amount .button:hover {
	color:#8ecc3b;
}
.cool-products .woocommerce-ordering {
	width:auto;
	padding-right:20px;
}

.footer-one .calling-contact a {
	font-size:21px;
}

.nav_menu_cart {
	max-width:300px;
	position: absolute;
    right: 0;
    top: 70px;
    background: #f1f1f1;
    padding: 10px;
    z-index: 99999999;
    display:none;
}
.nav_menu_cart li.mini_cart_item  > a {
	line-height:30px;
}
.nav_menu_cart li.mini_cart_item  > a:first-child {
	display:inline-block ;
}
.nav_menu_cart li.mini_cart_item  > a:nth-child(2) {
	display:inline-block;
	font-size:10px;
	color:#3b3e47;
}
.nav_menu_cart li.mini_cart_item  > a:nth-child(2) > img {
		max-width:32px;
}
.nav_menu_cart li.mini_cart_item > span {
	display: inline-block;
    padding: 5px 8px;
    background: #fafcff;
    border-radius: 5px;
    line-height: 1;
    font-size:12px;
}
.nav_menu_cart .buttons {
	padding:0px 10px;
}
.nav_menu_cart .buttons a.button {
	padding: 0px 20px;
	font-weight:600;
	font-size:12px;
	margin:0px;
}
.nav_menu_cart .buttons a.button:first-child {
	margin-right:10px;
}
.nav_menu_cart .total {
	margin:10px 0px;
	padding-right:10px;
	text-align:right;
}
#woo-mini-cart {
	font-size: 20px;
    float: right;
    line-height: 33px;
    width: 32px;
    padding: 0px 5px;
    float: right;
    background-color: #8ecc3b;
    height: 32px;
    color: #fff;
    border-radius: 50%;
    margin-left: 10px;
    cursor:pointer;
}
.header-three #woo-mini-cart {
	display:none;
}
.mobile-static > .navbar {
    position: static;
}

 ul.product_list_widget {
    list-style-type:none !important;
    margin: 0 !important;
    padding: 0 !important;
}
ul.cart_list li,ul.product_list_widget li {
	list-style-type:none !important;
}
ul.product_list_widget li a.remove {
    border: 0 none;
    border-radius: 100%;
    color: red !important;
    font-size: 1.5em;
    height: 1em;
    text-align: center;
    text-decoration: none;
    width: 1em;
}
ul.cart_list li img, 
ul.product_list_widget li img {
    box-shadow: none;
    float: right;
    height: auto;
    margin-left: 4px;
    width: 32px;
}
.nav_menu_cart .buttons a.button {
	border-radius: 30px;
    color: #fff;
    display: inline-block;
    font-family: "Raleway",sans-serif;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
    background:#8ecc3b none repeat scroll 0 0;
}
.shopping-cart .button-btn {
	background:#8ecc3b none repeat scroll 0 0 !important;
	border:1px solid #8ecc3b !important;
	font-weight:bold !important;
}
.shopping-cart .button-btn:hover {
	background:#fff none repeat scroll 0 0 !important;
	color:#8ecc3b !important;
}
.header-one .navbar-nav {
	padding-left: 47px;
}
.header-two #woo-mini-cart {
	margin-left:20px;
}
.woocommerce-cart #woo-mini-cart {
	display:none !important;
}