
.satisfaction-fit .small-btn:hover{
	background: transparent !important;
}
.fit-fab-populer-classes-layout-one  .classes-content h3{
    line-height:1.2;
}

@media all and (max-width: 1500px) {
    .fit-fab-upcoming-events-layout-one .event-list h2{
	font-size: 13px;
    }

    .fit-fab-trainers-layout-two .schedule-info, .fit-fab-trainers-layout-two .owl-carousel .item{
	min-height: 260px !important;
    }

}

@media all and (max-width: 1200px) {
    .fitfab-gym-layout-one .fit_list-block{
	min-height: 280px;
    }
    .fit-fab-fitness-layout-two .fit_list-block figure{
	min-height: 50px;
    }
    .fit-fab-schedule-layout-one .owl-controls.clickable{
	left: -275px;
	top:auto;
    }
    .fit-fab-trainers-layout-two .owl-controls.clickable{
	left: -190px;
	top:auto;
    }
    .vc_row-fluid .owl-controls.clickable{
	top:auto;
    }

    .fit-fab-trainers-layout-two.schedule-section .schedule-info{
	width: 290px;
    }
    .fit-fab-upcoming-events-layout-one.schedule-section .schedule-info{
	width: 290px;
    }
    .fit-fab-schedule-layout-one.schedule-section .schedule-info{
	width: 290px;
    }
    .fit-fab-schedule-layout-two.schedule-section .schedule-info{
	width: 290px;
    }
    .fit-fab-schedule-layout-two.schedule-section .schedule-slider .owl-carousel .item img{
	height:258px;
	width: 100%;
    }
}
@media all and (max-width: 992px){
    .main-blog-contentt .post_format-post-format-video figure iframe{
	width:100%;
    }	
    .footer-one .footer-logo{
	padding-bottom: 0;
    }
    .footer-two .footer-logo{
	padding-bottom: 0;
    }
}

@media all and (max-width: 767px) {


    .fit-fab-schedule-layout-one.schedule-section .schedule-info, 
    .fit-fab-schedule-layout-one.schedule-section .schedule-slider{
	float: none;
	padding-left: 0;
	padding-right: 0;
	position: static;
	text-align: center;
	width: 100%;
    }

    .fit-fab-trainers-layout-two.schedule-section .schedule-info,
    .fit-fab-trainers-layout-two.schedule-section .schedule-slider{
	float: none;
	padding-left: 0;
	padding-right: 0;
	position: static;
	text-align: center;
	width: 100%;
    }

    .fit-fab-upcoming-events-layout-one.schedule-section .schedule-info,
    .fit-fab-upcoming-events-layout-one.schedule-section .schedule-slider{
	float: none;
	padding-left: 0;
	padding-right: 0;
	position: static;
	text-align: center;
	width: 100%;
    }
    .fit-fab-schedule-layout-two .schedule-section-container .schedule-info{
	float: none;
	padding:20px;
	position: static;
	text-align: left;
	width: 100%;
    }
    .fit-fab-schedule-layout-two .schedule-section-container .schedule-slider{
	float: none;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	width: 100%;
    }
    .fit-fab-schedule-layout-two.schedule-section .owl-controls.clickable{
	top:auto;
	bottom:-30px;
	z-index: 999999;

    }
    .homepage-2 .owl-pagination .owl-page{
	margin-bottom:10px;
    }
    .vc_column_container .success_story_wrap1{
	min-height: 521px;
    }
    .mobile-static .sub-menu{
	position: static;
	width: 100%;
	text-align: center;
    }
    .fitfab-schedule-fitfab-layout-one .nav-tabs > li{
	width:100%;
    }
    .header-three .sub-menu{
	position: static;
	width: 100%;
	text-align: center;
    }
    .fit-fab-trainers-layout-one{
	background-position: left top !important;
    }
    .success_story_wrap{
	background-image: none !important;
    }	
    .footer-one .media-wrap{
	padding:0;
	width:200px;
	margin: 0 auto;
	margin-top:15px;
	text-align: center;
    } 
    .fit-fab-upcoming-events-layout-one .event-list h2{
	font-size: 24px;
    }
    .home-3-pacakage .timing-listing .pack-list{
	overflow: hidden;
    }
    .fit-fab-populer-classes-layout-two .clickable .owl-buttons{
	bottom: 92px;
    }
    .fit-fab-populer-classes-layout-two .classes-populer{
	min-height: 397px;
    }
    .success-home-three .owl-wrapper-outer .sucess-cap{
	padding:0 20px;
    }
    .homepage-3 .package-list-3 .pack-price .button-btn{
	padding: 0 27px;
    }
    .fit-fab-trainers-layout-three .bg-trainers .right-space{
	padding:0 15px !important;
    }
    .fit-fab-feature-layout-one{
	background-image: none !important;
    }
    .fit-fab-about-us-info-layout-one{
	background-position: left top !important;
    }
    .fit-fab-calsses-layout-one .nav-tabs > li{
	width: 100%;
    }
    .main-blog-contentt .widget_tag_cloud .tagcloud{
	margin-bottom: 25px;
    }
    .fit-fab-populer-classes-layout-one ul li{
	width: 100%;
    }
    .fitfab-cool-product-layout-one div.product{
	max-width:263px;
	margin:0 auto;
    }
    .fitfab-news-event-layout-one .news-gap figure{
	max-width:178px;
	margin:0 auto;
    }
    .fitfab-package-layout-one div.package-list{
	max-width:360px;
	margin:0 auto;
	float:none;
    }
    .fitfab-package-layout-one .package-list .package-price{
	padding: 30px 25px 22px;
    }
    .fit-fab-populer-classes-layout-one div.classes-listing-wrap{
	max-width:340px;
	margin:0 auto;
	float:none;
    }
    .fit-fab-latest-news-layout-two div.classes-listing-wrap {
	max-width:360px;
	margin:0 auto;
	float:none;
    }
    .fit-fab-trainers-layout-three div.right-space{
	max-width:380px;
	margin:0 auto;
	float:none;
    }
    .fit-fab-populer-classes-layout-three div.zoom{
	max-width:360px;
	margin:0 auto;
	float:none;
    }
    .fit-fab-trainers-layout-three div.zoom{
	max-width:360px;
	margin:0 auto;
	float:none;
    }
    .fit-fab-calsses-layout-one  div.classes-listing-wrap{
	max-width:340px;
	margin:0 auto;
	float:none;
    }
    .fit-fab-trainers-list-layout-one .latest-news-home_two div.classes-listing-wrap{
	max-width:360px;
	margin:0 auto;
	float:none;
    }
    .fit-fab-package-pricing-layout-one .pricing-package-wrap div.package-list{
	max-width:360px;
	margin:0 auto;
	float:none;
    }
    .fit-fab-package-pricing-layout-one .pricing-package-wrap div.package-list .package-price{
	padding: 30px 16px 22px;
    }
    .fit-fab-trainers-layout-two .schedule-slider .owl-controls .owl-pagination{
	overflow: hidden;
	text-align: center;
    }
    .fit-fab-trainers-layout-two .schedule-slider .owl-controls .owl-pagination .owl-page{
	display:inline-block;
	float:none; 
    }
    .fit-fab-schedule-layout-one .schedule-slider .owl-controls .owl-pagination{
	overflow: hidden;
	text-align: center;
    }
    .fit-fab-schedule-layout-one .schedule-slider .owl-controls .owl-pagination .owl-page{
	display:inline-block;
	float:none;
    }
    .fit-fab-schedule-layout-two .schedule-slider .owl-controls .owl-pagination{
	overflow: hidden;
	text-align: center;
	margin-top: 20px;
    }
    .fit-fab-schedule-layout-two .schedule-slider .owl-controls .owl-pagination .owl-page{
	display:inline-block;
	float:none;
    }
    .fit-fab-schedule-layout-one.schedule-section .schedule-info, .fit-fab-trainers-layout-two.schedule-section .schedule-info {
	min-height: 200px !important;
	padding-left:15px;
	padding-right: 15px;
    }
    .success-home-three .owl-controls.clickable{
	bottom:-25px !important;
    }
    .shopping-cart .cart-wrap {
    	padding:2px 5px !important;
    }
    .nav_menu_cart {
		right: 20px;
    	top: 50px;
	}
	
}
@media all and (max-width: 600px) {
    .fit-fab-schedule-layout-one .schedule-slider .owl-item .item img {
	height:auto !important;
	max-height:none !important;
    }
    .fit-fab-schedule-layout-one .schedule-slider  {

	max-width: 284px;
	margin:0 auto;

    }

    .fit-fab-schedule-layout-two .schedule-slider .owl-item .item img {
	height:auto !important;
	max-height:none !important;
    }
    .fit-fab-schedule-layout-two .schedule-slider  {

	max-width: 290px;
	margin:0 auto;

    }
    .fit-fab-schedule-layout-two.schedule-section .schedule-info{
	min-height: 200px !important;
	max-width: 290px;
	margin:0 auto;
    }

}

/*=========================== 06-04-2016 ===================================*/
@media all and (max-width: 1450px) {
	.success_story_wrap #owl-slider2 .item p{
		color:#ffffff;
	}
	.em-location-map-container{
		max-width:400px ;
		width:auto !important;
	}
	
}
@media all and (max-width: 1199px) {
	.fitfab-schedule-fitfab-layout-one .tabing-wrap .practice-list-main-container .nav-tabs{
		width: 87.8%;
	}
	.fit-fab-upcoming-events-layout-one.schedule-section .schedule-info{
		width:100% !important;
		position:static;
	}
	.fit-fab-upcoming-events-layout-one.schedule-section .event-list{
		width:33.33% !important;
	}
	.fit-fab-upcoming-events-layout-one .schedule-slider{
		padding-left:0;
	}
	.header-three .join-info{
		padding-bottom:23px;
	}
	.fit-fab-populer-classes-layout-two .classes-populer{
		min-height: auto;
	}
	iframe{
		max-width:100%;
	}
	.fitfab-news-event-layout-two .news-content{
		padding-left: 15px !important;
	}
	
	
}
@media all and (min-width: 992px) and (max-width: 1199px){
	.fitfab-package-layout-two .package-list-3 .pack-price .button-btn{
		padding:0 25px;
	}
	.fitfab-package-layout-two ul.list-global.pack-list > li > a{
		font-size: 12px;
	}
	.fitfab-package-layout-two .package-list-3 li ul li{
		margin-right: 7px;
	}
	.fitfab-news-event-layout-two .classes-populer{
		min-height: 577px !important;
	}
	
}
@media all and (max-width: 991px){
	.fitfab-schedule-fitfab-layout-one .tabing-wrap .practice-list-main-container .nav-tabs{
		width: 100%;
	}
	.fitfab-schedule-fitfab-layout-one .tabing-wrap .practice-list-main-container .nav-tabs > li > a{
		 padding: 8px 18px 9px;
	}
	.header-three .join-info{
		padding-bottom:26px;
	}
	
	.fit-fab-faq-layout-one .artical-faq{
		 background-position: 107% 87% !important;
	}
	.post-type-archive-product.woocommerce  .col-sm-4.tshirt.main-item{
		width:32%;
	}
	
}
@media all and (min-width: 768px) and (max-width: 991px){
	.fit-fab-populer-classes-layout-two .about-fit .bg-wrp:after{
		transform: translate(66px, 134px) scale(0.4);
	}
	.fitfab-package-layout-two .package-list-3 .pack-price .button-btn{
		padding:0 16px;
	}
	.fitfab-package-layout-two .package-list-3 li ul{
		padding-top:0;
	}
	.fitfab-package-layout-two .timing-listing{
		 padding: 10px 10px 2px;
	}
	.fitfab-package-layout-two .pack-price{
		 padding: 10px 8px 9px;
	}
	.fitfab-package-layout-two ul.list-global.pack-list > li > a{
		font-size: 10px;
	}
	.fitfab-package-layout-two .package-list-3 li ul li{
		margin-right:3px;
	}
	.fitfab-news-event-layout-two.news-home-3 .classes-populer{
		padding-bottom:30px;
	}
	
	.trainer-detail .trainer-contact span{
		line-height: 18px !important;
	}
	.fitfab-news-event-layout-two .classes-populer{
		min-height: 626px !important;
	}
	
	
	.fit-fab-home-slider-three .tp-tab-mask, .fit-fab-home-slider-three .inner.zeus,
	.fit-fab-home-slider-three .tp-tabs-inner-wrapper,
	.fit-fab-home-slider-two .tp-tab-mask, .fit-fab-home-slider-two .inner.zeus,
	.fit-fab-home-slider-two .tp-tabs-inner-wrapper{
		height:60px !important;
	}
	.fit-fab-home-slider-three .inner.zeus,
	.fit-fab-home-slider-two .inner.zeus{
		transform:matrix(1, 0, 0, 1, 0, -62) !important;
	}
	
}
@media all and (max-width: 767px) {
	.homepage-1 .success_story_wrap{
		min-height: auto;
	}
	.fitfab-package-layout-one div.package-list{
		margin-top:30px;
	}
	.fit-fab-upcoming-events-layout-one.schedule-section .event-list{
		width:100% !important;
	}
	.header-two .media-wrap, .header-two .navbar-nav{
		float:none;
	}
	.fit-fab-trainers-list-layout-one .trainers-block .classes-listing-wrap{
		margin-bottom:40px !important;
	}
	
	.fit-fab-trainers-list-layout-one .latest-news-home_two .top_gap{
		margin-top:0;
	}
	iframe{
		width:100%;
	}
	.widget_tag_cloud{
		margin-bottom:40px;
	}
	.widget_tag_cloud .tagcloud{
		overflow:hidden;
	}
	.fit-fab-package-pricing-layout-one .pricing-package-wrap div.package-list{
		margin-top:30px;
	}
	.fit-fab-package-pricing-layout-one .package-wrap.pricing-package-wrap .space_pad{
		padding-top:0;
	}
	.post-type-archive-product.woocommerce  .col-sm-4.tshirt.main-item{
		 display: block;
        margin: 15px auto 15px;
        max-width: 263px;
        width: 100%;
	}
	.single-product.woocommerce .container .container{
		padding:0;
	}
	.single-product.woocommerce .description-review .nav-tabs > li a{
		padding: 10px 30px;
	}
	.single-product.woocommerce .shop-detail-info .images.img-wrap.text-center.zoom{
		 margin: 15px auto;
    max-width: 263px;
    width: 100%;
	}
	.fitfab-news-event-layout-two .news-content{
		padding-left: 0px !important;
	}
	
	.fit-fab-home-slider-three .inner.zeus,
	.fit-fab-home-slider-two .inner.zeus{
		display:none !important;
	}
	.fit-fab-home-slider-three .slider-join-button,
	.fit-fab-home-slider-two .slider-join-button{
		 line-height: 25px !important;
		  font-size: 15px !important;
		  padding: 0 17px !important;
		  right:47px !important;
		  bottom: -23px !important;
	}
	.footer-two .media-wrap li,
	.footer-one .media-wrap li{
		margin: 0 7px;
		float:none;
		display: inline-block;
	}
	.footer-two .media-wrap,
	.footer-one .media-wrap,
	.footer-two.footer-three .media-wrap{
		width:100%;
		text-align: center;
		
	}
	.footer-two .media-wrap li:first-child,
	.footer-one .media-wrap li:first-child{
		margin-left:0;
	}
	.fit-fab-blog-layout-one .pagination li a{
		margin-right: 3px;
	}
	
	.woocommerce .return-info{
		margin-bottom: 0px;
		padding-bottom:0px;
	}
	.shopping-cart.billing-details{
		padding: 44px 0 100px;
	}
	.woocommerce .cart-wrap li{
		padding:5px;
	}
	.footer-two .calling-contact span,
	.footer-two .calling-contact a{
		color:#ffffff;
	}
	.footer-two.footer-three .calling-contact{
		border:0 !important;
	}
/*=========================== 15-04-2016 ===================================*/


	.fit-fab-coming-soon-layout .logo{
		display:inline-block;
		padding:38px 15px;
		width:auto;
	}
	.fit-fab-coming-soon-layout #footer{
		padding:0 15px;
	}
	.fit-fab-coming-soon-layout .counter{
		margin-bottom:20px;
	}
}
@media all and (min-width: 768px) and (max-width: 991px){
	.fit-fab-coming-soon-layout .wpcf7-form .wpcf7-text,
	.fit-fab-coming-soon-layout .wpcf7-form textarea {
		width:100%;
	}
}

@media all and (max-width: 480px) {
	.fit-fab-coming-soon-layout  p{
		padding-right:0;
	}
	.fit-fab-coming-soon-layout .wpcf7-form .wpcf7-text,
	.fit-fab-coming-soon-layout .wpcf7-form textarea {
		width:100%;
	}
	.fit-fab-coming-soon-layout .countdown-section{
		width:25%;
	}
	
	.fit-fab-coming-soon-layout h2{
		font-size: 30px;
	}
}

@media all and (max-width: 992px) and (min-width: 768px) {
    .homepage-2 .tabing-wrap .practice-list-main-container .nav-tabs > li > a {
	font-size: 15px;
    }
    .homepage-2 .tabing-wrap .nav-tabs {
	width: 69%;
    }
}
@media all and (max-width: 767px) {
    .fitfab-gym-layout-one .fit_list-block {
	min-height: 0;
    }
    .shopping-cart .cart-wrap li {
    	display:inline-block !important;
    	padding:10px 0px !important;
    }
    .shopping-cart .product-name {
    	padding-top:0px !important;
    }
    .billig-info-wrap form label, .return-info form label {
	   	line-height: 1;
	    vertical-align: top;
	    margin-bottom: 0px;
    }
    .single-product.woocommerce .description-review .nav-tabs > li a {
    	padding:10px !important;
    }
}
